body{background: yellow;}

.frame{
    display: inline-block;
    position:relative;
    margin:1rem;
    height:14rem;
    width:12rem;
    background-color:aqua;
    border:1rem solid white;
    
}
